*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container #green {
    background-color: pink;
    width: 100%;
    height: 2em;
}
.container{
    height: 50vh;
    font-size: 50px;
}
.green {
    color: blue;
}

h1 {
    color: green;
    text-align: center;
}

.green {
    color: green;
}
.myImage{
    width: 30px;
}
tr , th, td{
    border: solid 1px red;
}