*

.container #green {
    color: brown;
}

.green {
    color: blue;
}

h1 {
    color: green;
    text-align: center;
}

.green {
    color: green;
}
.myImage{
    width: 30px;
}
tr , th, td{
    border: solid 1px red;
}